# Firebase Cloud Messaging (опционально)
# Получить ключ: Firebase Console -> Project Settings -> Service Accounts -> Generate new private key
# НЕ КОММИТЬТЕ ЭТОТ ФАЙЛ В GIT!
FCM_PROJECT_ID=gb-messenger-75fdb
FCM_CLIENT_EMAIL=firebase-adminsdk-fbsvc@gb-messenger-75fdb.iam.gserviceaccount.com
FCM_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
